<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
     <add name="MyDb" connectionString="Server=92.89.82.128;Database=FullAppDb;User Id=TDDEV;Password=3Dkingdom;" providerName="System.Data.SqlClient"/>

    <!--<add name="MyDb" connectionString="Server=DELL-DN;Database=TestDb;Integrated Security=True;User Id=TDDEV;password=3Dkingdom;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>